<div class="container-fluid col-7 m-auto " >
<div class="filters">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterContacts()"
    placeholder="Buscar contatos..." />
  
  <select [(ngModel)]="selectedFilter" (change)="filterContacts()">
    <option value="todos">Todos</option>
    <option value="favoritos">Favoritos</option>
    <option value="family">Família</option>
    <option value="friends">Amigos</option>
    <option value="work">Trabalho</option>
    <option value="others">Outros</option>
  </select>
</div>

<ul>
  <li *ngFor="let contact of filteredContacts">
    <div class="contact-info">
      <strong>{{ contact.name }}</strong> - {{ contact.telephone }} - {{ contact.email }}
      <span *ngIf="contact.favorite">★</span>
    </div>
    <div class="actions">
      <button class="btn btn-primary rounded-pill px3" (click)="editContact(contact)">Ver/Editar</button>
      <button class="btn btn-danger rounded-pill px-3" (click)="deleteContact(contact)">Excluir</button>
    </div>
  </li>
</ul>
</div>